 
 #wrapper{
   display: block;
   justify-content: center;
   position:absolute;
   bottom: 30px;
   left:50px;
   right:50px;
   margin: auto;
   text-align: center;
   width:10px;
   
}





#wrapper > i:hover{animation:downABit 2s infinite forwards ease-in-out;}


@keyframes downABit{
   50%{transform:translateY(5px)}
   100%{transform:translate(0)}
}